<main>
  <div class="container">
    <div class="flash_message">
    <%= flash[:notice] %>
    </div>
    
    
    <div class="title d-flex">
      <h2 class="ml-0"><%= @recipe.title %></h2>
      <div class="mt-4 ml-5">
        <% if user_signed_in? %>
          <%# else %>
            <% if @recipe.bookmarked_by?(current_user) %>
              <div>
                <%= link_to recipe_book_marks_path(@recipe), class:"book_marks", method: :delete do %>
                  <h4>♥ <%= @recipe.book_marks.count %></h4>
                <% end %>
              </div>
              <% else %>
              <div>
                <%= link_to recipe_book_marks_path(@recipe), class:"book_marks", method: :post do %>
                  <h4>♡ <%= @recipe.book_marks.count %></h4>
                <% end %>
              </div>
            <% end %>
        <% end %>
      </div>
      <div class="recipe_user mt-2">
        <% if user_signed_in? %>
          <%= link_to user_path(@recipe.user_id) do %>
            <%= image_tag @recipe.user.get_profile_image(70,70), class:"rounded mt-2" %>
            <%= @recipe.user.name %>
          <% end %>
        <% else %>
          <%= image_tag @recipe.user.get_profile_image(70,70), class:"rounded mt-2" %>
          <%= @recipe.user.name %>
        <% end %>
      </div>
      <div>
        <% if @recipe.user == current_user %>
          <%= link_to "レシピ編集", edit_recipe_path(@recipe.id), class:"recipe_edit_btn btn btn-sm btn-outline-warning ml-5 mt-3" %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="recipe_img col-6">
        <div class="mb-3">
          <div class="cooking-title font-weight-bold">関連タグ</div>
            <% if @recipe.tags.empty? %>
              <p class="tag_none">関連タグが設定されていません</p>
            <% else %>
              <ul>
              <% @recipe.tags.each do |tag| %>
                <li class="mr-4"><%= tag.name %></li>
              <% end %>
              </ul>
            <% end %>
        </div>
        <div class="recipe_img">
          <%= image_tag @recipe.get_image %>
        </div>
      </div>
      <div class="col-6">
        <div class="cooking-title font-weight-bold">材料</div>
          <% @recipe.ingredients.each do |ingredient| %>
            <div class="ingredients_detail d-flex mb-2 mt-2">
              <div class="contents"><%= ingredient.content %></div>
              <div class="guantity"><%= ingredient.quantity %></div>
            </div>
          <% end %>
      </div>
    </div>
    <div class="mb-5">
      <div class="cooking-title font-weight-bold mt-3">作り方</div>
      <% @recipe.procedures.each.with_index(1) do |procedure, idx| %>
      <div class="d-flex mb-3 mt-3 procedures_detail">
        <!--<div class="number mr-3"><%#= procedure.id %></div>-->
        <div class="number mr-3"><%= idx %></div>
        <div><%= procedure.description %></div>
      </div>
      <% end %>
    </div>
    <% if user_signed_in?  && !(current_user.email == 'guests@example.com') %>
      <%# else %>
        <div class="send_comment font-weight-bold mt-5 mb-3">コメント</div>
        <div class="row">
          <div class="recipe_comments mb-3 col-6">
            <%= form_with model: [@recipe, @comment], local: true do |f| %>
              <% if @comment.present? %>
                <div class="error_explanation">
                  <!--<h2><%#= @comment.errors.count %> 件のエラーがあります。</h2>-->
                  <ul>
                    <% @comment.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="mb-3">
              <%= f.file_field :image, placeholder: "ファイルを選択", accept: "image/*", class:"" %>
              </div>
              <%= f.text_area :comment, rows: '5', placeholder: "コメントを書く（100文字)", class:"comment_field" %>
              <%= f.submit "送信する", class:"btn btn-info btn-sm mb-3 ml-2" %>
            <% end %>
          </div>
          <div class="mb-5 col-6">
            <p>コメント件数：<%= @recipe.comments.count %></p>
            <% @recipe.comments.each do |comment| %>
              <%= link_to user_path(comment.user_id) do %>
                <%= image_tag comment.user.get_profile_image(50,50), class:"rounded mb-2" %>
                <%= comment.user.name %>
              <% end %>
              <% if comment.user == current_user %>
                <%= link_to "削除", recipe_comment_path(comment.recipe, comment), method: :delete, class:"btn btn-outline-danger btn-sm ml-5" %>
              <% end %>
              <div class="d-flex mb-3">
              <div class="comment_img mr-2"><%= image_tag comment.get_image %></div>
              <%= comment.comment %><br>
              <%= comment.created_at.strftime('%Y/%m/%d') %>
              </div>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</main>