<main>
  <div class="container">
    <div class="flash_message">
    <%= flash[:notice] %>
    </div>
    <div class="title d-flex">
      <h2 class="ml-0"><%= @recipe.title %></h2>
      <div class="recipe_user mt-2">
        <%= link_to user_path(@recipe.user.id) do %>
          <%= image_tag @recipe.user.get_profile_image(50,50) %>
          <%= @recipe.user.name %>
        <% end %>
        <% if @recipe.user == current_user %>
          <%= link_to "レシピ編集", edit_recipe_path(@recipe.id), class:"recipe_edit_btn btn btn-sm btn-outline-warning ml-5" %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="recipe_img col-6">
        <div class="mb-3">
          <div class="cooking-title font-weight-bold">関連タグ</div>
            <% if @recipe.tags.empty? %>
              <p class="tag_none">関連タグが設定されていません</p>
            <% else %>
              <ul>
              <% @recipe.tags.each do |tag| %>
                <li class="mr-4"><%= tag.name %></li>
              <% end %>
              </ul>
            <% end %>
        </div>
        <div class="recipe_img">
          <%= @recipe.image %>
        </div>
      </div>
      <div class="col-6">
        <div class="cooking-title font-weight-bold">材料</div>
          <% @recipe.ingredients.each do |ingredient| %>
            <div class="ingredients d-flex mb-2 mt-2">
              <div class="contents"><%= ingredient.content %></div>
              <div class="guantity"><%= ingredient.quantity %></div>
            </div>
          <% end %>
      </div>
    </div>
    <div>
      <div class="cooking-title font-weight-bold mt-3">作り方</div>
      <% @recipe.procedures.each do |procedure| %>
      <div class="d-flex mb-3 mt-3 procedures">
        <div class="number mr-3"><%= procedure.id %></div>
        <div><%= procedure.description %></div>
      </div>
      <% end %>
    </div>
    <div class="send_comment font-weight-bold mt-5 mb-3">コメントする</div>
    <% if @recipe.comments.count == 0 %>
      <p>コメント件数：<%= @recipe.comments.count %></p>
    <% else %>
      <%= link_to recipe_comments_path(@recipe.id) do %>
        <p>コメント件数：<%= @recipe.comments.count %></p>
      <% end %>
    <% end %>

    <div class="recipe_comments mb-3">
      <%= form_with model: [@recipe, @comment] do |f| %>
        <div class="mb-3">
        <%= f.file_field :image, placeholder: "ファイルを選択", accept: "image/*", class:"" %>
        </div>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントを書く（100文字)", class:"comment_field" %>
        <%= f.submit "送信する", class:"btn btn-info btn-sm mb-3 ml-2" %>
      <% end %>
    </div>
  </div>
</main>