<main>
  <div class="container">
    <div class="flash_message">
    <%= flash[:notice] %>
    </div>

    <div class="title d-flex">
      <h2 class="ml-0">ストックリスト</h2>
    </div>
<% if @food_stock.errors.any? %>
    <div class="error_explanation">
    <h2><%= @food_stock.errors.count %> 件のエラーがあります。</h2>
    <ul>
      <% @food_stock.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    </div>
    <% end %>
    <div class="row">
      <div class="col-4">
        <%= form_with model: @food_stock,url: food_stocks_path  do |f| %>
          <div class="cooking-title font-weight-bold mt-3 mb-1">食材名</div>
          <%= f.text_field :name, placeholder: "(例)トマト" %>
          <div class="cooking-title font-weight-bold mt-3 mb-1">メモ</div>
          <%= f.text_area :memo, placeholder: "(例)残り２つ、○月○日まで" %>
          <%= f.submit "食材を登録する", class:"btn btn-warning mt-3 mb-3 d-block" %>
        <% end %>
      </div>

      <%# if user_signed_in? && @food_stock.user == current_user %>
      <div class="col-8 d-flex flex-wrap">
        <% @food_stocks.each do |food_stock| %>
          <table class="table food_table mr-2">
            <tr>
              <th class="food_name">
                <%= food_stock.name %>
                <!--<div class="text-right">-->
                <%= link_to food_stock_path(food_stock), class:"text-dark food_delete", method: :delete do %>
                 <i class="far fa-trash-alt"></i>
                <% end %>
                <!--</div>-->
              </th>
            </tr>
            <tr>
             <td class="food_memo">
              <%= food_stock.memo %>
             </td>
           </tr>
         </table>
        <% end %>
      </div>
      <%# end %>
    </div>
  </div>
</main>